@media screen and (max-width: 899px) {
  .header_nav-wrapper-desktop {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .center {
    padding-left: calc(50vw - 420px);
    padding-right: calc(50vw - 420px);
  }

  // header-----
  .logo {
    &-img {
      width: 158px;
      height: 25px;
    }
  }

  .header__menu-wrapper-mobil {
    display: none;
  }

  .header_nav-wrapper-desktop {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .header__nav-list-desktop {
    display: flex;
    gap: 30px;

    a {
      font-size: 16px;
    }
  }

  // header-----

  .offer{
    display: flex;
    margin: 60px 65px 0 65px;

    &__btn{
      width: 120px;
    }

    &__title{
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      max-width: 260px;

      &-wrapper{
        margin-top: 190px;
        margin-right: 65px;
      }
    }

    &__title-desc{
      font-size: 18px;
    }
  }

  // footer-----

  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: transparent;
    margin: 55px 0;

    &__rights {
      padding: 0;
    }

    &__list {
      display: flex;
      gap: 30px;
      padding: 0;
      &-link {
        padding: 0;
      }

      &-item {
        padding: 0;
      }
    }
    &__logo-link {
      padding: 0;
    }

    &__logo-link {
      margin: 0;
    }
  }
  // footer----
}

@media screen and (min-width: 1700px) {
  .center {
    padding-left: calc(50vw - 675px);
    padding-right: calc(50vw - 675px);
  }
  // header-----
  .logo {
    width: 158px;
    height: 25px;
  }
  // header-----
}
